[[icedos.repositories]]
url = "github:icedos/apps"
fetchOptionalDependencies = true
modules = [
  "btop",
  "celluloid",
  "eden",
  "gamemode",
  "gamescope",
  "harmony-music",
  "helium",
  "input-remapper",
  "lact",
  "lsfg-vk",
  "mangohud",
  "me3",
  "nautilus",
  "ncdu",
  "network-manager",
  "obs",
  "proton-launch",
  "protonvpn-cli",
  "reigntweak",
  "scx",
  "sd-inhibitor",
  "steam",
  "sunshine",
  "tailscale",
  "wolf",
  "zed",
  "zenergy",
  "zenstates",
]

[icedos.applications]
defaultBrowser = "helium.desktop"
defaultEditor = "dev.zed.Zed.desktop"
extraPackages = [
  "appimage-run",
  "faugus-launcher",
  "fragments",
  "gimp3",
  "moonlight-qt",
  "rpcs3",
  "signal-desktop",
  "steamtinkerlaunch",
  "warp",
]
insecurePackages = []

[icedos.applications.docker.daemonSettings]
data-root = "/mnt/virtualisation/docker"

[icedos.applications.git.users.ice]
username = "IceDBorn"
email = "git.outsider841@simplelogin.fr"

[[icedos.applications.helium.profiles]]
exec = "helium-social"
name = "Helium Social"
sites = [
  "https://mail.proton.me",
  "https://lumo.proton.me",
  "https://develop.element.io",
  "https://discord.com/app",
]

[icedos.applications.kitty]
hideDecorations = true

[icedos.applications.mangohud]
fpsLimit = "0,144,60,30"

[[icedos.applications.me3.profiles]]
name = "er"
config = """
profileVersion = "v1"
start_online = true

[[supports]]
game = "eldenring"

[[natives]]
path = "/home/ice/games/er/natives/disable-sharpening.dll"

[[natives]]
path = "/home/ice/games/er/natives/er-practice-tool.dll"

[[natives]]
path = "/home/ice/games/er/natives/increase-animation-distance.dll"

[[natives]]
path = "/home/ice/games/er/natives/remove-chromatic-aberration.dll"

[[natives]]
path = "/home/ice/games/er/natives/remove-vignette.dll"

[[natives]]
path = "/home/ice/games/er/natives/ultrawide.dll"

[[natives]]
path = "/home/ice/games/er/natives/erss2/d3d12.dll"

[[natives]]
path = "/home/ice/games/er/natives/erss2/ERSS-FG.dll"

[[natives]]
path = "/home/ice/games/er/natives/seamless-coop/ersc.dll"
"""

[[icedos.applications.me3.profiles]]
name = "er-nr"
dependencies = ["er"]
config = """
[[natives]]
path = "/home/ice/games/er/natives/no-fall-damage.dll"

[[packages]]
id = "fast-torrent"
path = "/home/ice/games/er/packages/fast-torrent"

[[packages]]
id = "nightreign-movement-speed"
path = "/home/ice/games/er/packages/nightreign-movement-speed"
"""

[[icedos.applications.me3.profiles]]
name = "nr"
config = """
profileVersion = "v1"
start_online = true

[[supports]]
game = "nightrein"

[[natives]]
path = "/home/ice/games/nr/natives/remove-chromatic-aberration.dll"

[[natives]]
path = "/home/ice/games/nr/natives/remove-vignette.dll"

[[natives]]
path = "/home/ice/games/nr/natives/nrss/dxgi.dll"

[[natives]]
path = "/home/ice/games/nr/natives/nrss/nrss.dll"

[[natives]]
path = "/home/ice/games/nr/natives/ultrawide.dll"

[[packages]]
id = "blue-filter-removal"
path = "/home/ice/games/nr/packages/blue-filter-removal"
"""

[[icedos.applications.me3.profiles]]
name = "nr-online"
dependencies = ["nr"]
config = """
[[natives]]
load_early = true
path = "/home/ice/games/nr/natives/cl_server_redirector.dll"

# [[natives]]
# load_early = true
# path = "/home/ice/games/nr/natives/seamless-coop/nrsc.dll"
"""

[[icedos.applications.me3.profiles]]
name = "nr-bots"
dependencies = ["nr", "nr-online"]
config = """
[[natives]]
path = "/home/ice/games/nr/natives/storm-control/storm-control.dll"

[[packages]]
id = "bots"
path = "/home/ice/games/nr/packages/bots"
"""

[[icedos.applications.me3.profiles]]
name = "nr-relics"
dependencies = ["nr", "nr-online"]
config = """
[[packages]]
id = "relic-filter"
path = "/home/ice/games/nr/packages/relic-filter"
"""

[icedos.applications.network-manager]
applet = true

[icedos.applications.protonvpn-cli]
country = "BG"

[icedos.applications.scx]
scheduler = "cake"

[icedos.applications.sd-inhibitor.users.ice.watchers.pipewire]
inputsToIgnore = ["Noise Canceling source", "Peak detect", "cava"]
outputsToIgnore = ["Discord", "Element"]

[icedos.applications.steam]
beta = true
cpuUsageWorkaround = true
downloadsWorkaround = true

[icedos.applications.wolf]
stateFolder = "/mnt/virtualisation/wolf"
extraPackages = []
extraVolumes = [
  "/home/ice/.local/share/Steam/steamapps:/home/retro/.steam/debian-installation/steamapps",
  "/home/ice/.local/share/Steam/compatibilitytools.d:/home/retro/.steam/debian-installation/compatibilitytools.d",
  "/home/ice/games:/home/retro/games",
  "/home/ice/.local/share/me3:/home/retro/.local/share/me3",
]

[icedos.applications.zed]
vim = true

[icedos.applications.zenstates]
serviceArgs = "-p 0 -v 3C -f A0"

[[icedos.repositories]]
url = "github:icedos/cosmic"
fetchOptionalDependencies = true

[icedos.desktop.cosmic]
disableExcludedPackagesWarning = true
excludeDefaultPackages = [
  "cosmic-applibrary",
  "cosmic-files",
  "cosmic-initial-setup",
  "cosmic-launcher",
]

[icedos.desktop.cosmic.wallpaper]
wallpaper = "path:/home/ice/Pictures/wallpaper.jpg"

[icedos.desktop.cosmic.windowManagement.focus]
cursorFollowsFocus = true
followsCursor = true

[icedos.desktop.cosmic.windowManagement.controls]
activeHint = true
maximize = false
minimize = false

[icedos.desktop.cosmic.input.mouse]
mouseSpeed = 65

[[icedos.desktop.cosmic.input.keyboard.shortcuts]]
action = "Close"
keys = ["Super+semicolon"]

[[icedos.desktop.cosmic.input.keyboard.shortcuts]]
action = "Maximize"
keys = ["Super+Greek_mu"]

[[icedos.desktop.cosmic.input.keyboard.shortcuts]]
action = "ToggleWindowFloating"
keys = ["Super+g", "Super+Greek_gamma"]

[[icedos.desktop.cosmic.input.keyboard.shortcuts]]
action = "WorkspaceOverview"
keys = ["Super+Greek_finalsmallsigma"]
variant = "System"

[[icedos.desktop.cosmic.input.keyboard.shortcuts]]
command = "cosmic-screenshot"
description = "Screenshot"
keys = ["Super+p", "Super+Greek_pi"]
variant = "Spawn"

[[icedos.desktop.cosmic.input.keyboard.shortcuts]]
command = "walker-emojis"
description = "Emoji picker"
keys = ["Super+e", "Super+Greek_epsilon"]
variant = "Spawn"

[[icedos.desktop.cosmic.input.keyboard.shortcuts]]
command = "walker-clipboard"
description = "Clipboard manager"
keys = ["Super+v", "Super+Greek_omega"]
variant = "Spawn"

[[icedos.desktop.cosmic.input.keyboard.shortcuts]]
command = "walker-applications"
description = "Application launcher"
keys = ["Super+r", "Super+Greek_rho"]
variant = "Spawn"

[[icedos.desktop.cosmic.input.keyboard.shortcuts]]
command = "killall -9 .cosmic-panel-wrapped .walker-wrapped"
description = "Soft Reset"
keys = ["Ctrl+Alt+Delete"]
variant = "Spawn"

[icedos.desktop.cosmic.sound]
showMediaControlsInPanel = true

[icedos.desktop.cosmic.workspaces]
tile = true

[icedos.desktop.cosmic.users.ice]

[[icedos.repositories]]
url = "github:icedos/hardware"
modules = [
  "bluetooth",
  "disable-ipv6",
  "kernel",
  "monitors",
  "pipewire",
  "radeon",
  "ryzen",
  "systemd-boot",
  "uinput",
  "upower",
  "xpadneo",
]

[icedos.hardware]
swapDevices = ["/swap/swapfile"]

[icedos.hardware.bootloaders.systemd-boot]
mountPoint = "/boot"

[icedos.hardware.graphics.radeon]
featureMask = "0xffffffff"

[icedos.hardware.kernel]
version = "zen"

[[icedos.hardware.mounts]]
path = "/"
device = "/dev/mapper/luks-f71c56ea-2db0-47d2-b57c-21b8f7ea1b22"
fsType = "btrfs"
flags = ["compress=zstd", "nofail", "x-gvfs-show"]

[[icedos.hardware.mounts]]
path = "/mnt/virtualisation"
device = "/dev/disk/by-uuid/040329ae-685d-4ba6-8bdd-e0a9785f9672"
fsType = "btrfs"
flags = ["compress=zstd", "nofail", "x-gvfs-show"]

[[icedos.hardware.mounts]]
path = "/mnt/games"
device = "/dev/disk/by-uuid/60876d91-f863-45db-88c5-4c707879588f"
fsType = "btrfs"
flags = ["compress=zstd", "nofail", "x-gvfs-show"]

[[icedos.hardware.mounts]]
path = "/mnt/storage"
device = "/dev/disk/by-uuid/89730200-942d-4a5c-893f-0196c87435d2"
fsType = "btrfs"
flags = ["compress=zstd", "nofail", "x-gvfs-show"]

[[icedos.hardware.monitors]]
name = "DP-1"
resolution = "3440x1440"
refreshRate = 144
position = "0x0"

[[icedos.hardware.monitors]]
name = "DP-2"
resolution = "1920x1080"
refreshRate = 144
position = "3440x200"

[icedos.hardware.network]
firewall = false

[[icedos.repositories]]
url = "github:icedos/tweaks"
modules = [
  "cachyos",
  "gaming",
  "kernel",
]

[[icedos.repositories]]
url = "github:icedos/users"

[icedos.users.ice]
description = "IceDBorn"

[icedos.desktop]
autologinUser = "ice"

[icedos.desktop.users.ice]
startupScript = """
  sleep 1 &&
  signal-desktop &
  helium-social &
"""

[icedos.system]
version = "25.11"

# [[icedos.system.channels]]
# name = "master"
# url = "github:nixos/nixpkgs/master"

# [[icedos.system.channels]]
# name = "small"
# url = "github:nixos/nixpkgs/nixos-unstable-small"

# [[icedos.system.channels]]
# name = "unstable"
# url = "github:nixos/nixpkgs/nixpkgs-unstable"

# [[icedos.system.channels]]
# name = "stable"
# url = "github:nixos/nixpkgs/nixos-25.05"

# [[icedos.repositories]]
# url = "path:/home/ice/.code/icedos/tests"
